
body {
    background-color:black;
    font-family: 'Didact Gothic', sans-serif;
    text-align: center;
    color: white;
    text-shadow: 0px 0px 5px gold;
}

.no-shadow {
    text-shadow: none;
}

#logo {
  max-width:80vw;
  max-height:98vh;
  width: auto;
  height: auto;  
  opacity: 0;
}

#flask {
    height: 100vh;
    float: left;
}

#first-div {
    border-bottom: 1px solid gold;
}

#info { 
    background-image: url('../images/oil-concentrate.jpg');    
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
    overflow-x: hidden;
    
}

#contact-col {
    height: 100vh;
    float: right;
    text-shadow: 0px 0px 5px gold;
    
}

#email-input {
    background-color: rgb(22, 22, 22);
    border-style: none;
    padding: 5px;
    width: 100%;
}

input {
    color: goldenrod;
}

#submit-btn {
    border: 1px solid gold;
    padding: 5px 30px;
    background: black;
    margin-top: 10px;
    color: white;
}

#submit-btn:hover {
    background-color: goldenrod;
    cursor: pointer;
    transition: 0.3s;
    font-weight: 800;
}
.align-mid {
    position: relative;
    top: 40%;
}

#footer {
    background-color: black;
    height: 25vh;
    border-top: 1px solid gold;
}

#tag-line {
    text-shadow: 0px 0px 5px gold;
}

/* Animation */

.animate-it{
    animation: animate 1s linear forwards;    
  }
  
  
  @keyframes animate {
      0% {
        opacity: 0;
        filter: blur(20px);
      }
    
      100% {
        opacity: 1;
        filter: blur(0px);
      }
    }
