body {
    background-color:black;
    font-family: 'Didact Gothic', sans-serif;
    text-align: center;
    color: white;
}

#logo {
    height: 100vh;  
}

#flask {
    height: 100vh;
    float: left;
}

#first-div {
    border-bottom: 1px solid gold;
}
#info {
    /* background-color: rgb(14, 14, 14);
     */
    background: black no-repeat center center fixed;
    background-size: 100%;
    background-image: url('../images/oil-concentrate.jpg');
    /* background-repeat: no-repeat; */
    
}

#contact-col {
    height: 105vh;
    float: right;
    text-shadow: 1px 1px 2px black;
    
}

#submit-btn {
    border: 1px solid gold;
    padding: 5px 10px;
    
    margin-top: 10px;
}

.align-mid {
    position: relative;
    top: 40%;
}

#footer {
    background-color: black;
    height: 25vh;
    border-top: 1px solid gold;
    padding-top: 11vh;
}

/* Twinkle Effet */

