* {
    box-sizing: border-box;
}

html {
    background: url('../images/oil-concentrate_1920x1028.jpg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
    overflow-x: hidden;
    background-attachment: fixed;
}

body {
    
    font-family: 'Didact Gothic', sans-serif;
    text-align: center;
    color: white;

}

.no-shadow {
    text-shadow: none;
}

#logo {
  max-width:80vw;
  max-height:60vh;
  width: auto;
  height: auto;  
  opacity: 0;
}


#tag-line {
    padding-bottom: 50px;
    text-transform: uppercase;
    letter-spacing: 10px;
    z-index: 2;
    position: relative;
    top: -30px;
    opacity: 0;
    font-size: 20px
}


#flask {
    height: 100vh;
    float: left;
}

#first-div {
    border-bottom: 1px solid gold;
    background: black;
}

#info { 
    /* background-image: url('../images/oil-concentrate.jpg');     */
    
    border-bottom: 1px solid gold;
    
}

#contact-col {
    height: 100vh;
    float: right;
    text-shadow: 0px 0px 5px gold;
    
}

#email-input {
    background-color: rgb(22, 22, 22);
    border-style: none;
    padding: 5px;
    width: 60%;
}

input {
    color: goldenrod;
}

#submit-btn {
    border: 1px solid gold;
    padding: 5px 30px;
    background: black;
    margin-top: 10px;
    color: white;
}

#submit-btn:hover {
    background-color: goldenrod;
    cursor: pointer;
    transition: 0.3s;
    font-weight: 800;
}

.align-mid {
    position: relative;
    top: 40%;
}

#footer {
    background-color: black;
    height: 25vh;
    width: 101%;

}

#email-modal {
    color: black;
}

/* Animation */

.animate-it{
    animation: animate 1s linear forwards;    
  }
  
  
  @keyframes animate {
      0% {
        opacity: 0;
        filter: blur(20px);
      }
    
      100% {
        opacity: 1;
        filter: blur(0px);
      }
    }

    @media only screen and (max-width: 600px) { 
        
        html {
            background: url('../images/mobile-bg.jpg');
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
            height: 100%;
            overflow-x: hidden;
            background-attachment: fixed;
        }
    } 
