body {
    background-color:black;
    
}


#main {
    text-align: center;
}
#logo {
    height: 50vh;
    position: relative;
    top: 20vh;
}

#logo:hover {
    cursor: pointer;
}

.animate-it{
  animation: animate 2s linear forwards;    
}


@keyframes animate {
    0% {
      transform: rotate(0deg) translateY(0px);
      opacity: 1;
      filter: blur(1px);
    }
  
    100% {
      transform: rotate(45deg) translateY(-200px);
      opacity: 0;
      filter: blur(20px);
      color: white;
    }
  }