body {
    background-color:black;
    
}


#main {
    text-align: center;
    height: 100%;
    width: 100%;
}
#logo {
    width: 100%;
    max-width: 300px;
    height: auto;
    position: relative;
    top: 50%;
}

#logo:hover {
    cursor: pointer;
}

.animate-it{
  animation: animate 1s linear forwards;    
}


@keyframes animate {
    0% {
      transform: rotate(0deg) translateY(0px);
      opacity: 1;
      filter: blur(1px);
    }
  
    100% {
      transform: rotate(180deg) translateY(0px);
      opacity: 0;
      filter: blur(20px);
      color: white;
    }
  }